* {
    list-style: none;
}

.list, .listContainer {
    margin: auto;
}

.list {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: 1px solid lightgray
}

.spanner {
    margin: 0px 10px;
}

.spanner:active {
    border: 1px solid lightgray;

}

#bottomBar {
    display: flex;
    justify-content: space-around;
    color: lightslategray;
    border: 1px solid lightgray;
    height: 30px;
    line-height: 30px;
}

.hover:hover {
    text-decoration: underline;
    margin: 0px 2px;
}